@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
div {
    font-family: 'Noto Sans KR', sans-serif;
}

.Join{
    height: 70vh;
    padding: 4% 30%;

}

.JoinDiv{
    padding: 3% 10%;
    align-items: center;
    box-shadow: 1px 1px 3px 3px rgb(224, 224, 224);
    border: 1px solid rgb(224, 224, 224);
    height: 100%;
    border-radius: 15px;
}
.login_title_div {
    width: 100%;
    text-align: center;
}
.login_title{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 50px;
}

.login_sub_title{
    margin-top: 22px;
    font-size: 23px;
    font-weight: 500;
}

.login_sub_description{
    color: gray;
    display: flex;
    margin-top: 22px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.login_sub_description div{
    margin-right: 15px;
}

/* 버튼 스타일 */
.kakao-login-button {
    display: inline-block;
    padding: 0;
    width: 222px;
    height: 49px;
    line-height: 49px;
    color: #783c00;
    background-color: #ffeb00;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-bottom: 60px;
  }
  
  /* 아이콘 스타일 */
  .kakao-login-button .kakao-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    background: url(https://developers.kakao.com/sdk/js/resources/login/btn_kakao_login_medium_narrow.png) no-repeat;
    background-size: 22px 22px;
    vertical-align: middle;
  }
  
  /* 텍스트 스타일 */
  .kakao-login-button .kakao-text {
    display: inline-block;
    vertical-align: middle;
  }
  
  .input_id, .input_pwd {
    height: 60px;
  }

  .input_id{
    margin-top: 50px;
    border-top: 1px solid rgb(86, 86, 86);
    border-left: 1px solid rgb(86, 86, 86);
    border-right: 1px solid rgb(86, 86, 86);
    border-radius: 10px 10px 0px 0px;
  }

  .input_pwd{
    border: 1px solid rgb(86, 86, 86);
    margin-bottom: 50px;
    border-radius: 0px 0px 10px 10px ;
  }


  .input_id input, .input_pwd input{
    border-radius: 11px;
    width: 80%;
    height: 45%;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 22px;
    color: rgb(66, 64, 64);
    padding-left: 20px;
  }

  .input_id input::placeholder, .input_pwd input::placeholder{
    color: rgb(177, 177, 177);
  }

  .email_login_button{
    width: 100%;
    border-radius: 3px;
    height: 50px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(224, 224, 224);
    background-color: rgb(253, 221, 226);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: rgb(79, 79, 79);
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding-left: 35%;
    padding-top: 10%;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    height: 80%;
    max-width: 600px;
    max-height: 600px;
  }
  